<h1>Enter a job</h1>
<form action="/jobs" method="post">
  <label for="new-job">Add a new job</label>
  <input id="new-job" name="new-job" type="text">
  <label for="new-started">started</label>
  <input id="new-started" name="new-started" type="text">
  <label for="new-ended">ended</label>
  <input id="new-ended" name="new-ended" type="text">
  <label for="new-location">location</label>
  <input id="new-location" name="new-location" type="text">
  <label for="new-duties">duties</label>
  <input id="new-duties" name="new-duties" type="text">
  <button type="submit">Submit</button><p>
    <a href="/jobs">View jobs</a>
</form>
